* {
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}

a {
  color: black;
  font-style: italic;
}

a:hover {
  font-size: 20px;
}

body {
  background-color: #b6def0;
}

button {
  height: 22px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

button:hover {
  background-color: #1c8bed;
  border-radius: 5px;
}

fieldset {
  border: none;
}

form {
  margin-top: 135px;
}

h1 {
  font-size: 35px;
  text-shadow: 2px 2px 5px white;
  color: white;
}

h2 {
  font-size: 28px;
}

label {
  color: white;
}

select {
  width: 100px;
  height: 25px;
  text-align: center;
  color: black;
  cursor: pointer;
  box-shadow: none;
}

strong {
  font-size: 18px;
}

ul {
  text-align: left;
  list-style: square;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.mission-patch {
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.launch-results {
  background-color: white;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 15px;
  background: linear-gradient(to top, #b6def0, white);
}

.header p {
  color: white;
  padding-right: 1.04166666%;
}

.header {
  background-image: url("falconheavy.jpg");
  height:300px;
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6, .col-12 {
  width: 100%;
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}