* {
  box-sizing: border-box;
  font-family: open sans;
}

body {
  background-color: #b6def0;
}

.header {
  background-image: url("falconheavy.jpg");
  height:300px;
  background-size: cover;
  text-align: right;
  border-radius: 15px;
}

form {
  margin-top: 135px;
}

label {
  color: white;
}

fieldset {
  border: none;
}

h1 {
  font-size: 35px;
  color: white;
}

.header p {
  color: white;
  padding-right: 1.04166666%;
}

select {
  width: 100px;
  height: 25px;
  text-align: center;
  color: black;
  cursor: pointer;
}

button {
  height: 25px;
  color: black;
  background-color: white
  border-radius: 5px;
  cursor: pointer;
}

.launch-results {
  background-color: white;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-bottom: 15px;
  border-radius: 15px;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

ul {
  text-align: left;
  list-style: square;
}

strong {
  font-size: 18px;
}

img {
  height: 175px;
  width: 175px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}