* {
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}

a {
  font-style: italic;
}

body {
  background-color: #b6def0;
}

button {
  height: 25px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c8bed;
  border-radius: 5px;
}

fieldset {
  border: none;
}

h1 {
  color: white;
}

h2 {
  font-size: 28px;
}

label {
  color: white;
}

select {
  height: 25px;
  text-align: center;
  color: black;
  cursor: pointer;
  box-shadow: none;
}

strong {
  font-size: 18px;
}

.launch-results ul {
  text-align: left;
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.mission-patch {
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.launch-results {
  background-color: white;
  background: linear-gradient(to top, #b6def0, white);
}

.info {
  background-color: white;
}

.header p {
  color: white;
  padding-right: 1.04166666%;
}

.header {
  background-image: url("falconheavy.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer {
  text-align: center;
  background-color: white;
  height: 50px;
  font-size: 12px;
}

.row {
  margin: 0 auto;
  text-align: center;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6, .col-12 {
  width: 100%;
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-12 {
    width: 100%;
  }
}